.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 4rem!important;
}

.w-400 {
    width: 400px;
}

.inline-flex {
    display: inline-flex;
}

.steps-bar {         
    margin-top: 10rem!important;
    align-items: center;
    text-align: center;
}